{$CADDY_SITE_ADDRESS:dashpoint-demo.pos.example.com} {
    handle /api/v1/* {
           reverse_proxy dashpoint-demo-backend-prod:8080
    }

    handle /uploads/* {
        reverse_proxy dashpoint-demo-backend-prod:8080
    }

    handle {
           reverse_proxy dashpoint-demo-frontend-prod:3000
    }
}
